In [20]:
import import_ipynb
import glassdoor_scraper as gs
import pandas as pd

path = "C:/Users/Visitor/Desktop/Github/Salary Estimate Project/chromedriver"
df = gs.get_jobs('data scientist', 80, False, path, 15)

x out worked
Progress: 0/80
Progress: 1/80
Progress: 2/80
Progress: 3/80
Progress: 4/80
Progress: 5/80
Progress: 6/80
Progress: 7/80
Progress: 8/80
Progress: 9/80
Progress: 10/80
Progress: 11/80
Progress: 12/80
Progress: 13/80
Progress: 14/80
Progress: 15/80
Progress: 16/80
Progress: 17/80
Progress: 18/80
Progress: 19/80
Progress: 20/80
Progress: 21/80
Progress: 22/80
Progress: 23/80
Progress: 24/80
Progress: 25/80
Progress: 26/80
Progress: 27/80
Progress: 28/80
Progress: 29/80
x out failed
Progress: 30/80
Progress: 31/80
Progress: 32/80
Progress: 33/80
Progress: 34/80
Progress: 35/80
Progress: 36/80
Progress: 37/80
Progress: 38/80
Progress: 39/80
Progress: 40/80
Progress: 41/80
Progress: 42/80
Progress: 43/80
Progress: 44/80
Progress: 45/80
Progress: 46/80
Progress: 47/80
Progress: 48/80
Progress: 49/80
Progress: 50/80
Progress: 51/80
Progress: 52/80
Progress: 53/80
Progress: 54/80
Progress: 55/80
Progress: 56/80
Progress: 57/80
Progress: 58/80
Progress: 59/80
x out failed
Progress: 60/80
Progress: 61/80
Progress: 62/80
Progress: 63/80
Progress: 64/80
Progress: 65/80
Progress: 66/80
Progress: 67/80
Progress: 68/80
Progress: 69/80
Progress: 70/80
Progress: 71/80
Progress: 72/80
Progress: 73/80
Progress: 74/80
Progress: 75/80
Progress: 76/80
Progress: 77/80
Progress: 78/80
Progress: 79/80
Progress: 80/80

In [21]:
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Data Scientist,CA$58k-CA$90k (Glassdoor Est.),Myplanet is looking for a Senior Data Scientis...,4.6,Myplanet\n4.6,Toronto,-1,51 to 200 Employees,2009,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
1,Marketing Data Scientist,CA$58k-CA$90k (Glassdoor Est.),Top Hat is looking for a technical Marketing D...,3.5,Top Hat\n3.5,Toronto,-1,201 to 500 Employees,2009,Company - Private,Colleges & Universities,Education,$25 to $50 million (USD),-1
2,"Data Analyst, NAV Recon",CA$58k-CA$90k (Glassdoor Est.),"Data Analyst, NAV Recon\nConnor, Clark & Lunn ...",4.3,"Connor, Clark & Lunn Financial Group\n4.3",Vancouver,-1,201 to 500 Employees,1982,Company - Private,Investment Banking & Asset Management,Finance,$25 to $50 million (USD),-1
3,Data Mining Specialist,CA$58k-CA$90k (Glassdoor Est.),"What we do\nInterested in solving problems, en...",5.0,Global Spatial Technology Solutions\n5.0,Dartmouth,-1,1 to 50 Employees,-1,Unknown,-1,-1,Less than $1 million (USD),-1
4,"Intern, Data Engineer – Digital Strategy and I...",CA$58k-CA$90k (Glassdoor Est.),EXPERIENCE THE EDGE\n\n\nWe’re one of Canada’s...,4.4,PSP Investments\n4.4,Montreal,-1,501 to 1000 Employees,1999,Other Organization,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1

In [22]:
df.info

<bound method DataFrame.info of                                             Job Title  \
0                               Senior Data Scientist
1                            Marketing Data Scientist
2                             Data Analyst, NAV Recon
3                              Data Mining Specialist
4   Intern, Data Engineer – Digital Strategy and I...
..                                                ...
75                                     Data Scientist
76                                     Data Scientist
77                                     Data Scientist
78                               Quantitative Analyst
79                 Data Scientist, Security Analytics

                    Salary Estimate  \
0    CA$58k-CA$90k (Glassdoor Est.)
1    CA$58k-CA$90k (Glassdoor Est.)
2    CA$58k-CA$90k (Glassdoor Est.)
3    CA$58k-CA$90k (Glassdoor Est.)
4    CA$58k-CA$90k (Glassdoor Est.)
..                              ...
75  CA$80k-CA$107k (Glassdoor Est.)
76  CA$80k-CA$107k (Glassdoor Est.)
77  CA$80k-CA$107k (Glassdoor Est.)
78  CA$80k-CA$107k (Glassdoor Est.)
79  CA$80k-CA$107k (Glassdoor Est.)

                                      Job Description Rating  \
0   Myplanet is looking for a Senior Data Scientis...    4.6
1   Top Hat is looking for a technical Marketing D...    3.5
2   Data Analyst, NAV Recon\nConnor, Clark & Lunn ...    4.3
3   What we do\nInterested in solving problems, en...    5.0
4   EXPERIENCE THE EDGE\n\n\nWe’re one of Canada’s...    4.4
..                                                ...    ...
75  Celtx is an ambitious and fast growing softwar...     -1
76  Minimum Qualifications\nMaster's degree in a q...     -1
77  Minimum Qualifications\nMaster's degree in a q...     -1
78  Quantitative Analyst\nEmployment Duration\n\n\...    4.1
79  Data Scientist, Security Analytics\n\n\nEagle ...    4.0

                                 Company Name    Location  Headquarters  \
0                               Myplanet\n4.6     Toronto            -1
1                                Top Hat\n3.5     Toronto            -1
2   Connor, Clark & Lunn Financial Group\n4.3   Vancouver            -1
3    Global Spatial Technology Solutions\n5.0   Dartmouth            -1
4                        PSP Investments\n4.4    Montreal            -1
..                                        ...         ...           ...
75                                  Celtx Inc  St. John's            -1
76                                 Logic Plum     Ontario            -1
77                                 Logic Plum     Ontario            -1
78               Simon Fraser University\n4.1     Burnaby            -1
79          Eagle Professional Resources\n4.0     Toronto            -1

                      Size Founded     Type of ownership  \
0      51 to 200 Employees    2009     Company - Private
1     201 to 500 Employees    2009     Company - Private
2     201 to 500 Employees    1982     Company - Private
3        1 to 50 Employees      -1               Unknown
4    501 to 1000 Employees    1999    Other Organization
..                     ...     ...                   ...
75       1 to 50 Employees      -1     Company - Private
76                      -1      -1                    -1
77                      -1      -1                    -1
78  1001 to 5000 Employees    1965  College / University
79     51 to 200 Employees    1996     Company - Private

                                   Industry                  Sector  \
0   Enterprise Software & Network Solutions  Information Technology
1                   Colleges & Universities               Education
2     Investment Banking & Asset Management                 Finance
3                                        -1                      -1
4     Investment Banking & Asset Management                 Finance
..                                      ...                     ...
75                                       -1                      -1
76                                       -1                      -1
77                                       -1                      -1
78                  Colleges & Universities               Education
79                   Staffing & Outsourcing       Business Services

                             Revenue  Competitors
0           Unknown / Non-Applicable           -1
1           $25 to $50 million (USD)           -1
2           $25 to $50 million (USD)           -1
3         Less than $1 million (USD)           -1
4           Unknown / Non-Applicable           -1
..                               ...          ...
75        Less than $1 million (USD)           -1
76                                -1           -1
77                                -1           -1
78  $500 million to $1 billion (USD)           -1
79        $100 to $500 million (USD)           -1

[80 rows x 14 columns]>

In [23]:
df.shape

(80, 14)

In [24]:
df.describe

<bound method NDFrame.describe of                                             Job Title  \
0                               Senior Data Scientist
1                            Marketing Data Scientist
2                             Data Analyst, NAV Recon
3                              Data Mining Specialist
4   Intern, Data Engineer – Digital Strategy and I...
..                                                ...
75                                     Data Scientist
76                                     Data Scientist
77                                     Data Scientist
78                               Quantitative Analyst
79                 Data Scientist, Security Analytics

                    Salary Estimate  \
0    CA$58k-CA$90k (Glassdoor Est.)
1    CA$58k-CA$90k (Glassdoor Est.)
2    CA$58k-CA$90k (Glassdoor Est.)
3    CA$58k-CA$90k (Glassdoor Est.)
4    CA$58k-CA$90k (Glassdoor Est.)
..                              ...
75  CA$80k-CA$107k (Glassdoor Est.)
76  CA$80k-CA$107k (Glassdoor Est.)
77  CA$80k-CA$107k (Glassdoor Est.)
78  CA$80k-CA$107k (Glassdoor Est.)
79  CA$80k-CA$107k (Glassdoor Est.)

                                      Job Description Rating  \
0   Myplanet is looking for a Senior Data Scientis...    4.6
1   Top Hat is looking for a technical Marketing D...    3.5
2   Data Analyst, NAV Recon\nConnor, Clark & Lunn ...    4.3
3   What we do\nInterested in solving problems, en...    5.0
4   EXPERIENCE THE EDGE\n\n\nWe’re one of Canada’s...    4.4
..                                                ...    ...
75  Celtx is an ambitious and fast growing softwar...     -1
76  Minimum Qualifications\nMaster's degree in a q...     -1
77  Minimum Qualifications\nMaster's degree in a q...     -1
78  Quantitative Analyst\nEmployment Duration\n\n\...    4.1
79  Data Scientist, Security Analytics\n\n\nEagle ...    4.0

                                 Company Name    Location  Headquarters  \
0                               Myplanet\n4.6     Toronto            -1
1                                Top Hat\n3.5     Toronto            -1
2   Connor, Clark & Lunn Financial Group\n4.3   Vancouver            -1
3    Global Spatial Technology Solutions\n5.0   Dartmouth            -1
4                        PSP Investments\n4.4    Montreal            -1
..                                        ...         ...           ...
75                                  Celtx Inc  St. John's            -1
76                                 Logic Plum     Ontario            -1
77                                 Logic Plum     Ontario            -1
78               Simon Fraser University\n4.1     Burnaby            -1
79          Eagle Professional Resources\n4.0     Toronto            -1

                      Size Founded     Type of ownership  \
0      51 to 200 Employees    2009     Company - Private
1     201 to 500 Employees    2009     Company - Private
2     201 to 500 Employees    1982     Company - Private
3        1 to 50 Employees      -1               Unknown
4    501 to 1000 Employees    1999    Other Organization
..                     ...     ...                   ...
75       1 to 50 Employees      -1     Company - Private
76                      -1      -1                    -1
77                      -1      -1                    -1
78  1001 to 5000 Employees    1965  College / University
79     51 to 200 Employees    1996     Company - Private

                                   Industry                  Sector  \
0   Enterprise Software & Network Solutions  Information Technology
1                   Colleges & Universities               Education
2     Investment Banking & Asset Management                 Finance
3                                        -1                      -1
4     Investment Banking & Asset Management                 Finance
..                                      ...                     ...
75                                       -1                      -1
76                                       -1                      -1
77                                       -1                      -1
78                  Colleges & Universities               Education
79                   Staffing & Outsourcing       Business Services

                             Revenue  Competitors
0           Unknown / Non-Applicable           -1
1           $25 to $50 million (USD)           -1
2           $25 to $50 million (USD)           -1
3         Less than $1 million (USD)           -1
4           Unknown / Non-Applicable           -1
..                               ...          ...
75        Less than $1 million (USD)           -1
76                                -1           -1
77                                -1           -1
78  $500 million to $1 billion (USD)           -1
79        $100 to $500 million (USD)           -1

[80 rows x 14 columns]>

In [25]:
# Save data to csv

df.to_csv('salary_data_unclean.csv', index=False)